<link rel='stylesheet' href='/public/css/style.css' />
<h2>Редактировать автомобиль</h2>
<form action='/cars/{{car.id}}?_method=PATCH' method='POST'>
  <label>Модель:
    <input type='text' name='model' value='{{car.model}}' required /></label><br
  />
  <label>Цена:
    <input type='text' name='price' value='{{car.price}}' required /></label><br
  />
  <label>Ссылка на изображение:
    <input type='text' name='image' value='{{car.image}}' required /></label><br
  />
  <button type='submit'>Сохранить</button>
</form>

<form
  action='/cars/{{car.id}}?_method=DELETE'
  method='POST'
  style='margin-top:10px;'
>
  <button type='submit' style='background:red;color:white;'>Удалить</button>
</form>